/* Initialize styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--KM-font);
  transition: 0.5s;
}

:root {
  --KM-color1: #ffffff;
  --KM-color2: #000000;
  --KM-color3: #f47521;
  --KM-color4: #23252b;

  --KM-font: var(--KM-color1);
  --KM-background: var(--KM-color2);
  --KM-highlight: var(--KM-color3);

  --KM-border-radius: 15px;

  --KM-margin-xs: 5px;
  --KM-margin-s: 10px;
  --KM-margin-m: 20px;
  --KM-margin-l: 30px;
  --KM-margin-xl: 60px;

  --KM-padding-xs: 5px;
  --KM-padding-s: 10px;
  --KM-padding-m: 20px;
  --KM-padding-l: 30px;
  --KM-padding-xl: 60px;

  --KM-gap-xs: 5px;
  --KM-gap-s: 10px;
  --KM-gap-m: 20px;
  --KM-gap-l: 30px;
  --KM-gap-xl: 60px;
}

body {
  background-color: var(--KM-background);
  color: var(--KM-font);
  font-size: 1rem;
}
/* HEADER -------------------------------------------- */
header,
nav {
  min-height: 3.75rem;
  width: 100%;
  background-color: var(--KM-highlight);
  position: fixed;
}
nav,
.left-stuff,
.icons {
  display: flex;
  min-height: 3.75rem;
  justify-content: space-between;
  align-items: center;
}
.left-stuff {
  gap: var(--KM-gap-l);
}
.left-stuff > a > img {
  max-height: 30px;
}
.icons > a > img {
  max-height: 25px;
}
nav {
  padding-left: var(--KM-padding-xl);
  padding-right: var(--KM-padding-xl);
  margin-left: var(--KM-margin-l);
  margin-right: var(--KM-margin-l);
}
.icons,
.for-hover {
  display: flex;
  align-items: center;
}
.icons > a,
.for-hover > a {
  padding-right: var(--KM-margin-m);
  padding-left: var(--KM-margin-m);
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for-hover > a:hover {
  background-color: #6c3715;
}
.icons > a:hover {
  background-color: #6c3715;
}

/* HERO -------------------------------------------- */
.hero-all {
  display: flex;
  align-items: center;
  width: 100%;
}
.hero-all > article {
  margin: var(--KM-margin-xl);
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: var(--KM-gap-l);
}
.hero-all > article > img {
  max-width: 80%;
}
.hero-all > article > button {
  background-color: var(--KM-color3);
  padding: var(--KM-padding-s);
  max-width: 200px;
  color: var(--KM-color2);
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.hero-all > article > button:hover {
  background-color: #ff9a57;
}
.hero-all > img {
  max-width: 70%;
}
/* POPULAR ---------------------------------------------*/
.popular {
  height: auto;
  margin: var(--KM-margin-xl);
  display: grid;
  gap: var(--KM-gap-l);
  grid-auto-rows: 450px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.popular > a {
  max-height: 450px;
  max-width: 250px;
  cursor: pointer;
  position: relative;
}
.popular-all > h3 {
  font-size: 1.5rem;
  margin-left: var(--KM-margin-xl);
}
/* FILTERS ---------------------------------------------*/
.filter {
  background-color: var(--KM-color4);
  min-height: 10rem;
  padding: var(--KM-padding-s) var(--KM-padding-xl) var(--KM-padding-l) var(--KM-padding-xl);
}
.visible > h3 {
  font-size: 1.5rem;
}
.visible {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-text-container {
  width: 500px;
  border-bottom: solid 2px var(--KM-color3);
  padding: var(--KM-padding-m) 0;
  display: flex;
}
#form-simple-button {
  background: none;
  border: none;
  height: 1.5rem;
  margin-right: var(--KM-margin-xs);
  cursor: pointer;
}
#form-simple-button > img {
  height: 100%;
}
#search-text {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  outline: none;
}
/* CARDS -----------------------------------------------*/
.cards {
  height: auto;
  margin: var(--KM-margin-xl);
  display: grid;
  gap: var(--KM-gap-l);
  grid-auto-rows: 450px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.cards > a {
  max-height: 450px;
  max-width: 250px;
  cursor: pointer;
  position: relative;
}
.moment {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--KM-gap-s);
  opacity: 1;
}
.moment > img {
  height: 85%;
  width: 100%;
  object-fit: cover;
}
.moment > h3 {
  font-size: 1rem;
}
.moment > h4 {
  font-size: 0.8rem;
  color: #959595;
}
/* HOVER ----------------------- */
.momentHover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.15s ease-in-out;
  /*   transition: 0.5s; */
}
.momentHover > div:first-child {
  height: 100%;
  width: 100%;
}
.momentHover > div:first-child::before {
  box-shadow: 10px 10px 48px 175px rgba(0, 0, 0, 0.78) inset;
  -webkit-box-shadow: 10px 10px 48px 175px rgba(0, 0, 0, 0.78) inset;
  -moz-box-shadow: 10px 10px 48px 175px rgba(0, 0, 0, 0.78) inset;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.momentHover > div:first-child > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.momentHover-text {
  display: flex;
  flex-direction: column;
  margin: var(--KM-margin-m);
  gap: var(--KM-gap-s);
  position: absolute;
  left: 0;
  top: 0;
}
.momentHover-text > p {
  font-size: 0.8rem;
}
.momentHover-icons {
  display: flex;
  flex-direction: row;
  margin: var(--KM-margin-m);
  gap: var(--KM-gap-m);
  position: absolute;
  left: 0;
  bottom: 0;
}
.momentHover-icons > button {
  background: none;
  border-style: none;
  cursor: pointer;
}
.momentHover-icons > button > img {
  height: 25px;
}
.cards > a:hover > .momentHover {
  opacity: 1;
}
