/* Initialize styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
  /*   border: solid 2px red; */
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--KM-font);
  transition: 0.5s;
}
:root {
  --KM-color1: #ffffff;
  --KM-color2: #000000;
  --KM-color3: #f47521;
  --KM-color4: #23252b;

  --KM-font: var(--KM-color1);
  --KM-background: var(--KM-color2);
  --KM-highlight: var(--KM-color3);

  --KM-border-radius: 15px;

  --KM-margin-xs: 5px;
  --KM-margin-s: 10px;
  --KM-margin-m: 20px;
  --KM-margin-l: 30px;
  --KM-margin-xl: 60px;

  --KM-padding-xs: 5px;
  --KM-padding-s: 10px;
  --KM-padding-m: 20px;
  --KM-padding-l: 30px;
  --KM-padding-xl: 60px;

  --KM-gap-xs: 5px;
  --KM-gap-s: 10px;
  --KM-gap-m: 20px;
  --KM-gap-l: 30px;
  --KM-gap-xl: 60px;
}
body {
  background-color: var(--KM-background);
  color: var(--KM-font);
  font-size: 1rem;
}
/* MAIN CONTAINERS DISPLAY -------------------------- */
.cards,
.popular,
.random {
  height: auto;
  margin: var(--KM-margin-xl);
  display: grid;
  justify-items: center;
  gap: var(--KM-gap-l);
  grid-auto-rows: 450px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.cards > a,
.popular > a,
.random > a {
  max-height: 450px;
  max-width: 250px;
  cursor: pointer;
  position: relative;
}
/* HEADER -------------------------------------------- */
header {
  min-height: 3.75rem;
  width: 100%;
  background-color: var(--KM-highlight);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
}
nav {
  min-height: 3.75rem;
  width: 100%;
  background-color: var(--KM-highlight);
  z-index: 2;
}
nav,
.left-stuff,
.icons {
  display: flex;
  min-height: 3.75rem;
  justify-content: space-between;
  align-items: center;
}
.left-stuff {
  gap: var(--KM-gap-l);
}
.left-stuff > a > img {
  max-height: 30px;
}
.icons > li > a > img {
  max-height: 25px;
}
nav {
  padding-left: var(--KM-padding-xl);
  padding-right: var(--KM-padding-xl);
}
.icons,
.for-hover {
  display: flex;
  align-items: center;
}
.icons > li > a,
.for-hover > li > a {
  padding-right: var(--KM-margin-m);
  padding-left: var(--KM-margin-m);
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for-hover > li > a:hover,
.icons > li > a:hover {
  background-color: #6c3715;
}
/* HERO -------------------------------------------- */
.hero-all {
  height: 80vh;
  min-height: 480px;
  padding-top: var(--KM-padding-l);
  background-image: url('assets/Lawhero.JPEG');
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
}
.hero-all > article {
  padding: var(--KM-padding-xl) var(--KM-padding-s) var(--KM-padding-xl) var(--KM-padding-xl);
  margin-top: var(--KM-margin-l);
  width: 70%;
  background-image: none;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: flex-start;
  gap: var(--KM-gap-l);
}
.hero-all > article > img {
  width: 50%;
}
.hero-all > article p {
  width: 50%;
}
.hero-all > article > a > button {
  background-color: var(--KM-color3);
  padding: var(--KM-padding-s) var(--KM-padding-m);
  max-width: 200px;
  color: var(--KM-color2);
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.hero-all > article > a > button:hover {
  background-color: #ff9a57;
}
/* .hero-all > img {
  margin-top: var(--KM-margin-xl);
  object-fit: cover;
  width: 60%;
  min-width: 375px;
} */
/* POPULAR ---------------------------------------------*/
.popular-all {
  box-shadow: -1px -133px 93px -59px rgba(244, 117, 33, 0.81) inset;
  -webkit-box-shadow: -1px -133px 93px -59px rgba(244, 117, 33, 0.81) inset;
  -moz-box-shadow: -1px -133px 93px -59px rgba(244, 117, 33, 0.81) inset;
  padding-bottom: var(--KM-padding-xl);
}
.popular-all > div:first-child {
  margin-left: var(--KM-margin-xl);
  margin-right: var(--KM-margin-xl);
  padding-bottom: var(--KM-padding-m);
}
.popular-all > div > h3 {
  font-size: 1.5rem;
}
.popular-all > div:first-child::after {
  content: '';
  /*   margin-left: var(--KM-margin-xl); */
  margin-right: var(--KM-margin-xl);
  margin-top: var(--KM-padding-m);
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px; /* Altura del borde */
  background: linear-gradient(to right, #f47521, #f4752115, #f4752100);
}
/* FILTERS ---------------------------------------------*/
.filter {
  background-color: var(--KM-color4);
  min-height: 10rem;
  padding: var(--KM-padding-s) var(--KM-padding-xl) var(--KM-padding-l) var(--KM-padding-xl);
}
.visible > h3 {
  font-size: 1.5rem;
  margin-right: var(--KM-margin-m);
}
.visible {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--KM-gap-s);
  align-items: center;
  padding-top: var(--KM-padding-s);
}
#form-simple {
  max-width: 600px;
  width: 100%;
}
.search-text-container {
  width: 100%;
  border-bottom: solid 2px var(--KM-color3);
  padding: var(--KM-padding-m) 0;
  display: flex;
  margin-bottom: var(--KM-margin-m);
}
#form-simple-button {
  background: none;
  border: none;
  height: 1.5rem;
  margin-right: var(--KM-margin-xs);
  cursor: pointer;
}
#form-simple-button > img {
  height: 100%;
}
#search-text {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  outline: none;
}
#form-detailed {
  display: flex;
  flex-direction: column;
  gap: var(--KM-gap-l);
  padding-top: var(--KM-gap-s);
}
.select-inputs,
.filter-buttons {
  display: flex;
  align-items: center;
  gap: var(--KM-gap-s);
  flex-wrap: wrap;
}
.select-inputs > label {
  padding-right: var(--KM-padding-xs);
}
.select-inputs > select {
  background-color: var(--KM-color4);
  border: solid 2px var(--KM-color1);
  color: var(--KM-color1);
}
.select-inputs > select > option:selected {
  background-color: var(--KM-color3);
}
.radio-inputs > ul {
  display: flex;
  gap: var(--KM-gap-m);
  flex-wrap: wrap;
}
.radio-inputs > input {
  accent-color: var(--KM-color3);
}
.button-go > span,
.button-reset {
  font-family: 'Lato';
  font-weight: 600;
}
.button-go {
  padding: var(--KM-padding-s) var(--KM-padding-l);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--KM-gap-xs);
  background-color: var(--KM-color3);
  max-width: 200px;
  color: var(--KM-color2);
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.button-go:hover {
  background-color: #ff9a57;
}
.button-go > img {
  height: 15px;
}
.button-reset {
  border: solid 2px var(--KM-color3);
  background: none;
  color: var(--KM-color3);
  padding: var(--KM-padding-s) var(--KM-padding-l);
  transition: 0.5s;
}
.button-reset:hover {
  background-color: var(--KM-color3);
  color: var(--KM-color2);
}
/* CARDS -----------------------------------------------*/
.moment {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--KM-gap-s);
  opacity: 1;
}
.moment > img {
  height: 85%;
  width: 100%;
  object-fit: cover;
}
.moment > h3 {
  font-size: 1rem;
}
.moment > h4 {
  font-size: 0.8rem;
  color: #959595;
}
/* NOT FOUND ----------------------------------------- */
.notFoundText {
  color: grey;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--KM-gap-m);
  margin-bottom: var(--KM-margin-xl);
}
/* CARDS HOVER ----------------------------------------- */
.momentHover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.15s ease-in-out;
  /*   transition: 0.5s; */
}
.momentHover > div:first-child {
  height: 100%;
  width: 100%;
}
.momentHover > div:first-child::before {
  box-shadow: 10px 10px 48px 175px rgba(0, 0, 0, 0.78) inset;
  -webkit-box-shadow: 10px 10px 48px 175px rgba(0, 0, 0, 0.78) inset;
  -moz-box-shadow: 10px 10px 48px 175px rgba(0, 0, 0, 0.78) inset;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.momentHover > div:first-child > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.momentHover-text {
  display: flex;
  flex-direction: column;
  margin: var(--KM-margin-m);
  gap: var(--KM-gap-s);
  position: absolute;
  left: 0;
  top: 0;
}
.momentHover-text > p {
  font-size: 0.8rem;
}
.momentHover-icons {
  display: flex;
  flex-direction: row;
  margin: var(--KM-margin-m);
  gap: var(--KM-gap-m);
  position: absolute;
  left: 0;
  bottom: 0;
}
.momentHover-icons > button {
  background: none;
  border-style: none;
  cursor: pointer;
}
.momentHover-icons > button > img {
  height: 25px;
}
/* Aplicación de hovers ------------------------------- */
.cards > a:hover > .momentHover,
.popular > a:hover > .momentHover,
.random > a:hover > .momentHover {
  opacity: 1;
}
/* FOOTER ----------------------------------------------*/
footer {
  background-color: var(--KM-color4);
  color: var(--KM-color1);
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--KM-padding-xs);
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-nav ul {
  list-style: none;
  padding: 0;
  margin-bottom: var(--KM-margin-s);
  display: flex;
  gap: 1rem;
}
.footer-nav a:hover {
  color: var(--KM-color3);
}
footer p {
  font-size: 0.8rem;
}
.arrow-menu {
  display: none;
  height: 25px;
}
.arrow-menu img {
  height: 100%;
}
.icons-for-menu-hidden {
  display: none;
}
/* MEDIA QUERIES -------------------------------- */
@media (max-width: 800px) and (min-width: 570px) {
  /* MENÚ DESPLEGABLE --------------------------- */
  .arrow-menu {
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .for-hover {
    display: none;
    position: absolute;
    top: 3.75rem;
    left: 0;
    width: 50%;
    background-color: var(--KM-highlight);
  }
  .for-hover li {
    text-align: left;
    padding: 1rem 0;
  }
  .left-stuff:hover .for-hover,
  .for-hover:hover {
    display: block;
  }
  .left-stuff:hover .arrow-menu,
  .for-hover:hover ~ .arrow-menu {
    transform: rotate(90deg);
  }
  /* CORRECCIÓN HERO ------------------------------ */
  .hero-all {
    background-image: url(assets/Lawherodarkened.JPEG);
  }
  .hero-all > article {
    width: 90%;
  }
  .hero-all > article > img {
    width: 60%;
  }
  .hero-all > article p {
    width: 80%;
  }
}
@media (max-width: 570px) {
  .left-stuff {
    width: 100%;
  }
  .icons-for-menu {
    display: none;
  }
  .arrow-menu {
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .icons-for-menu-hidden {
    display: none;
    position: absolute;
    top: 3.75rem;
    right: 0;
    width: 50%;
    background-color: var(--KM-highlight);
    z-index: 3;
  }
  .for-hover {
    display: none;
    position: absolute;
    padding-top: 3.75rem;
    top: 3.75rem;
    right: 0;
    width: 50%;
    background-color: var(--KM-highlight);
  }
  .icons {
    display: flex;
    justify-content: center;
  }
  .for-hover li,
  .icons-for-menu-hidden > .icons li {
    text-align: left;
    padding: 1rem 0;
  }
  .left-stuff:hover .for-hover,
  .for-hover:hover,
  .left-stuff:hover .icons-for-menu-hidden,
  .icons-for-menu-hidden:hover,
  .arrow-menu:hover + .for-hover,
  .arrow-menu:hover + .icons-for-menu-hidden {
    display: block;
  }
  .left-stuff:hover .arrow-menu,
  .for-hover:hover ~ .arrow-menu,
  .icons-for-menu-hidden:hover ~ .arrow-menu {
    transform: rotate(90deg);
  }
  /* CORRECCIÓN HERO ------------------------------ */
  .hero-all {
    background-image: url(assets/Lawherodarkened.JPEG);
  }
  .hero-all > article {
    width: 90%;
  }
  .hero-all > article > img {
    width: 70%;
  }
  .hero-all > article p {
    width: 90%;
  }
}
